* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.overflow-scroll {
  overflow-y: scroll;
  overflow-x: hidden;
}
.today{
  background-color: rgb(247, 221, 188);
}
body {
  display: flex;
  padding: 50px 20px 50px 20px;
  justify-content: center;
  background-color: #fffcff;
}
.planner {
  display: flex;
}
.planner__calendar {
  max-width: 80vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.calendar__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px;
  color: #d36c6c;
  font-size: 26px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
}
.header__button {
  background-color: #92a1d1;
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px rgb(128, 128, 128);
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  transition: linear 1s;
}
.header__button:hover {
  background-color: #cba8a8;
}

.calendar__container,
.backlog__container {
  height: 70vh;
  overflow-y: scroll;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  border-radius: 5px;
}

.calendar__container {
  display: grid;
  grid-template-columns: 2fr repeat(7, 10vw);
  grid-template-areas: "users Mon Tue Wed Thu Fri Sat Sun";
  margin-top: 20px;
}
.users {
  grid-area: users;
}
.weekdays__1 {
  grid-area: Mon;
}
.weekdays__2 {
  grid-area: Tue;
}
.weekdays__3 {
  grid-area: Wed;
}
.weekdays__4 {
  grid-area: Thu;
}
.weekdays__5 {
  grid-area: Fri;
}
.weekdays__6 {
  grid-area: Sat;
}
.weekdays__0 {
  grid-area: Sun;
}

.weekdays {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: flex-end;
}
.weekdays__item, .calendar__date{
  position: fixed;
  height: 20px;
}
.calendar__date{
  margin-top: 20px;
  
}
.calendar__user-fields{
  margin-top: 38px;
}
.weekdays__item:last-child {
  margin-right: 20px;
}
.week {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
}

.calendar__item,
.backlog__title {
  max-width: 200px;
  width: 100%;
  text-align: center;
  color: #247ba0;
}
.users {
  display: flex;
  flex-direction: column;

  width: 100%;
  justify-content: space-between;
  margin-top: 37px;
}
.users__item {
  max-height: 100px;
  height: 100%;
  background-color: #92a1d1;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #cbcbcc;
  color: #f0eff0;
}
.cell {
  width: 100%;
  height: 100px;
  border: 1px solid rgb(57%, 63%, 82%, 0.3);
}

.backlog__title {
  text-align: center;
  height: 40px;
  border: 1px solid #cbcbcc;
}
.backlog__container {
  margin-top: 75px;
  max-width: 200px;
  width: 100%;
  overflow-x: hidden;
  background-color: rgb(223, 211, 211);
}
.task__element {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(253, 254, 255, 1);
  padding: 10px;
}
[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(112, 122, 181, 0.6);
  color: #fff;
  padding: 0.5em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

  opacity: 0;
  transition: 1s;
}
[data-tooltip]:hover::after {
  opacity: 1;
  top: 1em;
}
.task__description {
  width: 100%;
  height: 10px;
}

.hide {
  display: none;
}
.hovered {
  background-color: rgba(153, 155, 152, 0.3);
}
@media screen and (max-width: 1440px) {
  .cell {
    overflow-x: hidden;
  }
}
@media screen and (max-width: 768px) {
  body{
    padding: 0px 0px;
  }
  .planner__calendar{
    width: calc(100vw - 20px);
  }
  .calendar__container{
    box-shadow: none;
    overflow-x: hidden;
  }
  .planner__backlog {
    display: none;
  }
  .weekdays__item {
    display: none;
  }
  .task__element {
    position: static;
  }
  [data-tooltip]::after {
    top: 50%;
  }
  [data-tooltip]:hover::after {
    top: 50%;
  }
  .users{
    margin-top: 37px;
  }
  .users__title{
    font-size: 12px;
  }
}
